@tailwind base;
@tailwind components;

:root {
  --section-padding: 9vw;
  --gap-padding: 1.75vw;
  --container-padding: 3vw;

  --content-width: 1200px;

  --primary-color: #050505;
}

@media (width <= 768px) {
  :root {
    --section-padding: 2rem;
    --gap-padding: 0.5rem;
    --container-padding: 1rem;
  }
}

button {
  font-size: 1.25rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: var(---primary-color);
}

html.lenis {
  height: 100vh;
  /* pointer-events: none; */
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
  /* pointer-events: none; */
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@tailwind utilities;

@layer utilities {
  .clip-around {
    clip-path: inset(0 -100vmax);
  }

  .not-clip-square {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
