/* HEADINGS */

h1 {
  font-size: var(--text-heading);
  font-weight: 900;
  font-family: var(--font-syne);
  letter-spacing: calc(var(--text-heading) * -0.08);
  white-space: normal;
  line-height: 80%;
  text-transform: uppercase;
}

h2 {
  font-size: calc(var(--text-heading) * 0.6);
  font-weight: 500;
}

h3 {
  font-size: calc(var(--text-heading) * 0.48);
  letter-spacing: calc(var(--text-heading) * 0.48 * -0.085);
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  font-size: calc(var(--text-heading) * 0.19);
  letter-spacing: calc(var(--text-heading) * 0.19 * -0.05);
  font-family: var(--font-syne);
  font-weight: 600;
}

@media (width <= 768px) {
  h5 {
    font-size: calc(var(--text-heading) * 0.44);
  }
}

/* BODY */

p,
a,
li {
  font-size: var(--text-body);
  font-weight: 300;
  line-height: 1.75;
}

small,
strong {
  font-size: calc(var(--text-body) * 0.57);
  font-family: var(--font-syne);
}

span {
  font-size: calc(var(--text-heading) * 0.19);
}

@media (width <= 768px) {
  small,
  strong {
    font-size: calc(var(--text-body) * 0.69);
  }

  p,
  a,
  li {
    font-size: calc(var(--text-body) * 1.2);
  }

  span {
    font-size: calc(var(--text-body) * 0.69);
  }
}


