h1 {
  font-size: clamp(4.5rem, 5.5vw, 7rem);
  font-weight: 900;
  letter-spacing: -0.3vw;
  line-height: 80%;
  text-transform: uppercase;
  transition: font-size 300ms;
}

@media (width <= 768px) {
  h1 {
    font-size: clamp(2.5rem, 5.5vw, 7rem);
  }
}

p,
a,
li {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75;
}

h5 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #aaa;
}

small {
  font-size: clamp(0.6875rem, 1.3vw, 1rem);
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  font-size: clamp(25px, 3vw, 48px);
  font-weight: 400;
}
