@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p,
span,
strong {
  font-size: 1.25rem;
}

button {
  font-size: 1.25rem;
  font-weight: 700;
}

small {
  font-size: 0.625rem;
}

@layer utilities {
  .clip-around {
    clip-path: inset(0 -100vmax);
  }

  .not-clip-square {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
